<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      {{- site.mail | escape -}} <br/>
      {{- site.phone | escape -}}
    </div>
    <div class="footer-col footer-col-2">
      {%- include social.html -%}
    </div>
    <div class="footer-col footer-col-3">
      {{- site.address1 | escape -}} <br/>
      {{- site.address2 | escape -}}
    </div>
  </div>
</footer>



