---
---

/* Override Minima variables BEFORE loading the theme */
$text-color: #383838;   // your custom text color
$header-font: 'Montserrat', sans-serif;

/* Import Minima's main stylesheet (compatible with GH Pages) */
@import "minima";

/* Add any custom CSS AFTER Minima */
body {
  font-family: 'Montserrat', sans-serif;
}
